        * {
            margin: 0%;
            padding: 0%;
            font-family: Helvetica, Arial, sans-serif;
        }
        
        h1 {
            font-size: 30px;
            font-weight: 600;
        }
        
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        
        .button {
            /* font-size: 1em; */
            /*  padding: 10px; */
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
            padding: 5px 12px 16px;
            font-size: 35px;
            cursor: pointer;
            margin-left: 10%;
            font-weight: bold;
        }
        
        .button:hover {
            background: #29487d;
        }
        
        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }
        
        .overlay:target {
            visibility: visible;
            opacity: 1;
        }
        
        .pop {
            background: grey;
            color: lightblue;
            border-radius: 5px;
            width: 150px;
        }
        
        .popup {
            margin: 70px auto;
            padding: 2px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
        }
        
        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }
        
        .popup .close {
            position: absolute;
            top: 10px;
            right: 20px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
        
        .popup .close:hover {
            color: #29487d;
        }
        
        .header {
            padding-right: 3%;
            background-color: #29487d;
            color: white;
        }
        
        .side {
            flex: 50%;
            padding: 20px;
            background-color: rgb(215, 215, 236);
            color: #0e385f;
            justify-content: flex-end;
            height: 85%;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bolder;
        }
        
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Arial, sans-serif;
            color: #0e385f;
            font-size: 20px;
            font-weight: bold;
            line-height: 29px;
            margin-top: 5px;
            width: 700px;
            word-spacing: -1px;
        }
        
        .main {
            flex: 40%;
            background-color: rgb(215, 215, 236);
            padding: 20px;
        }
        
        .main h2 {
            justify-content: flex-start;
            color: black;
            font-size: 40px;
        }
        
        .i1 {
            height: 5%;
            border-radius: 10%;
            font-size: 20px;
        }
        
        .i2 {
            height: 5%;
            border-radius: 10%;
            font-size: 20px;
            margin-left: 2%;
        }
        
        .btn1 {
            background-color: #FFBF00;
            width: 20%;
            color: whitesmoke;
            height: 7%;
            font-weight: bold;
            cursor: pointer;
        }
        
        .btn2 {
            background-color: #29487d;
            width: 20%;
            color: whitesmoke;
            height: 7%;
            font-weight: bold;
            cursor: pointer;
        }
        
        table {
            font-weight: bold;
            color: #365899;
            font-size: 15px;
            padding: 2%;
            justify-content: space-around;
        }
        
        input,
        textarea {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        table tr {
            justify-content: space-between;
        }
        
        .button {
            display: flex;
            height: 5%;
            cursor: pointer;
        }
        
        .btn {
            margin-left: 40px;
        }
        
        .natureimage {
            width: 100%;
            line-height: 20px;
            height: 15%;
            position: relative;
        }
        
        @media screen and (min-width:360px) and (max-width:420px) {
            .row {
                flex-direction: row;
            }
            .side {
                display: none;
            }
            .header {
                width: 535px;
                height: 120px;
            }
            .main {
                flex: 0 0 506px;
                height: 52em;
                /*  align-items: stretch; */
            }
            h1,
            table {
                margin-left: 25%;
            }
            .btn {
                margin-left: 120px;
            }
            .btn1,
            .btn2 {
                width: 30%;
            }
            table {
                font-size: 18px;
            }
        }
        
        @media screen and (min-width:760px) and (max-width:1204px) {
            .row {
                flex-direction: row;
            }
            .side {
                display: none;
            }
            /* .header {
                width: 550px;
            } */
            .main {
                height: 57rem;
            }
            h1,
            table {
                margin-left: 35%;
            }
            .btn {
                margin-left: 40%;
            }
            .btn1,
            .btn2 {
                width: 28%;
                font-size: 20px;
            }
            table {
                font-size: 18px;
            }
        }